# fly.toml app configuration file generated for license-server-demo on 2025-11-03T20:09:59+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'permetrix'
primary_region = 'fra'

[build]

[[mounts]]
  source = 'license_data'
  destination = '/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = 'shared-cpu-1x'
